[submodule "notebook-samples"]
	path = notebook-samples
	url = git@github.com:eu-cdse/notebook-samples.git 
[submodule "openeo-community-examples"]
	path = openeo-community-examples
	url = git@github.com:Open-EO/openeo-community-examples.git
