[submodule "notebook-samples"]
	path = notebook-samples
	url = git@github.com:eu-cdse/notebook-samples.git
[submodule "openeo-community-examples"]
	path = APIs/openEO/openeo-community-examples
	url = git@github.com:Open-EO/openeo-community-examples.git
