project:
  type: website

website:
  repo-url: "https://github.com/eu-cdse/documentation"
  site-url: "https://eu-cdse.github.io/documentation/"
  site-path: '/Home.html'
  search:
    location: sidebar
    type: textbox 
    copy-button: true

  navbar:
    background: "#0A4393"
    height: 50
    foreground: "light"
    logo: "_images/logos/combinedLogo.svg"
    logo-href: 'https://dataspace.copernicus.eu/'
    pinned: true
    
    
  page-navigation: true
    
  title: "Documentation"
  

  sidebar:
    style: "floating"
    collapse-level: 1
    contents:
      - href: Home.md
        text: Welcome
      - section: "Service description and evolution roadmap"
        href: Roadmap.md
        contents: 
          - href: Roadmap/DataTable.qmd
          - href: Roadmap/APITable.qmd
          - href: Roadmap/AppTable.qmd
      - text: "---"
      - href: Registration.md
        text: User registration and authentication
      - section: "Data"
        href: Data.md
        contents: 
          - href: Data/Sentinel1.qmd
          - href: Data/Sentinel2.qmd
          - href: Data/Sentinel3.qmd
          - href: Data/Sentinel5P.qmd
      - section: "APIs"
        href: APIs.md
        contents: 
          - href: APIs/OData.qmd
          - href: APIs/OpenSearch.qmd
            text: OpenSearch
          - section: "Sentinel Hub"
            href: "APIs/SentinelHub.md"
            contents:
              - section: "User guides"
                contents: 
                  - href: "APIs/SentinelHub/UserGuides/Datamask.md"
                  - href: "APIs/SentinelHub/UserGuides/Transparency.md"
              - sectrion: "Evalscript (custom script)"
                href: "APIs/SentinelHub/Evalscript.md"
                contents:
                  - href: "APIs/SentinelHub/Evalscript/V3.md"
                  - href: "APIs/SentinelHub/Evalscript/Functions.md"
              - section: "API Overview"
                href: "APIs/SentinelHub/Overview.md"
                contents:
                  - href: "APIs/SentinelHub/Overview/Authentication.md"
              - section: "Process API"
                href: "APIs/SentinelHub/Process.md"
                contents:
                  - href: "APIs/SentinelHub/Process/Crs.md"
                  - section: "Examples"
                    contents:
                      - href: "APIs/SentinelHub/Process/Examples/S1GRD.md"
                        text: Examples for S1GRD
                      - href: "APIs/SentinelHub/Process/Examples/S2L1C.md"
                        text: Examples for S2L1C
                      - href: "APIs/SentinelHub/Process/Examples/S2L2A.md"
                        text: Examples for S2L2A
                      - href: "APIs/SentinelHub/Process/Examples/S3OLCI.md"
                        text: Examples for S3OLCI
                      - href: "APIs/SentinelHub/Process/Examples/S3SLSTR.md"
                        text: Examples for S3SLSTR
                      - href: "APIs/SentinelHub/Process/Examples/S5PL2.md"
                        text: Examples for S5PL2
              - section: "Catalog API"
                href: "APIs/SentinelHub/Catalog.qmd"
                contents:
                  - href: "APIs/SentinelHub/Catalog/Examples.qmd"
      - section: "Applications"
        href: Applications.md
        contents: 
          - href: Applications/Browser.md
      - text: "---"
      - href: FAQ.md
        text: FAQ
      - href: Support.md
        text: Support
    


format:
  html:
    toc: true
    toc-depth: 4
    theme: custom
    css: custom.css
    grid:
      body-width: 1200px
    include-in-header:
      file: custom.html

