project:
  type: website

website:
  favicon: _images/logos/favicon.png
  repo-url: "https://github.com/eu-cdse/documentation"
  repo-branch: "publish"
  site-url: "https://documentation.dataspace.copernicus.eu/"
  # issue-url: "https://github.com/eu-cdse/documentation/issues"
  site-path: '/Home.html'
  search:
    location: sidebar
    type: textbox
    copy-button: true

  navbar:
    background: "#0A4393"
    height: 50
    foreground: "light"
    logo: "_images/logos/combinedLogo.svg"
    logo-href: 'https://dataspace.copernicus.eu/'
    pinned: true


  page-navigation: true

  title: "Documentation"


  sidebar:
    style: "floating"
    collapse-level: 1
    contents:
      - href: Home.qmd
        text: Welcome
      - section: "Service description and evolution roadmap"
        href: Roadmap.md
        contents:
          - href: Roadmap/DataTable.qmd
          - href: Roadmap/APITable.qmd
          - href: Roadmap/AppTable.qmd
      - text: "---"
      - section: "User registration and authentication"
        href: Registration.qmd
        contents:
          - href: 2FA.qmd
            text: Setting up Two-Factor Authentication (2FA)
      - section: "Data"
        href: Data.qmd
        contents:
          - href: Data/Others/Dashboard.qmd
          - section: "Copernicus Sentinel Mission"
            contents:
            - href: Data/SentinelMissions/Sentinel1.qmd
            - href: Data/SentinelMissions/Sentinel2.qmd
            - href: Data/SentinelMissions/Sentinel3.qmd
            - href: Data/SentinelMissions/Sentinel5P.qmd
            - href: Data/SentinelMissions/Sentinel6.qmd
          - section: "Complementary data"
            contents:
            - href: Data/ComplementaryData/SMOS.qmd
              text: "Soil Moisture and Ocean Salinity (SMOS)"
            - href: Data/ComplementaryData/MERIS.qmd
              text: "ENVISAT- Medium Resolution Imaging Spectrometer (MERIS)"
            - href: Data/ComplementaryData/Landsat5.qmd
              text: "Landsat-5"
            - href: Data/ComplementaryData/Landsat7.qmd
              text: "Landsat-7"
            - href: Data/ComplementaryData/Landsat8.qmd
              text: "Landsat-8"
            - href: Data/ComplementaryData/CLMS.qmd
              text: "Copernicus Land Monitoring Service (CLMS)"
            - href: Data/ComplementaryData/CMEMS.qmd
              text: "Copernicus Marine Service (CMEMS)"
            - href: Data/ComplementaryData/CEMS.qmd
              text: "Copernicus Emergency Management Service (CEMS)"
            - href: Data/ComplementaryData/CAMS.qmd
              text: "Copernicus Atmosphere Monitoring Service (CAMS)"
            - href: Data/ComplementaryData/Additional.qmd
              text: "Additional Complementary Data"
            # - href: Data/VHR.qmd
            #   text: "VHR Commercial Data"
      - section: "APIs"
        href: APIs.qmd
        contents:
          - href: APIs/Token.qmd
            text: Access Token
          - href: APIs/OData.qmd
            text: OData
          - href: APIs/OpenSearch.qmd
            text: OpenSearch
          - href: APIs/STAC.qmd
            text: STAC product catalogue
          - href: APIs/Subscriptions.qmd
            text: Subscriptions
          - href: APIs/S3.qmd
            text: S3 Access
          - href: APIs/TCP.qmd
            text: TCP stack configuration
          - href: APIs/On-Demand Production API.qmd
            text: On-Demand Production API
          - href: APIs/Traceability.qmd
            text: Traceability API
          - section: "openEO"
            href: APIs/openEO/openEO.qmd
            contents:
            - section: Getting Started
              contents:
                - href: "APIs/openEO/Python_Client/Python.qmd"
                  text: Python
                - href: "APIs/openEO/R_Client/R.qmd"
                  text: R
                - href: "APIs/openEO/JavaScript_Client/JavaScript.qmd"
                  text: JavaScript
            - href: "APIs/openEO/Glossary.qmd"
              text: Glossary
            - href: "APIs/openEO/Collections.qmd"
              text: Data Collections
            - href: "APIs/openEO/Processes.qmd"
              text: openEO Processes
            - href: "APIs/openEO/File_formats.qmd"
              text: File Formats
            - href: "https://open-eo.github.io/openeo-python-client"
              text: Python documentation
              target: "_blank"
            - href: "https://openeo.org/documentation/1.0/datacubes.html"
              text: Datacubes explained
              target: "_blank"
            - href: "APIs/openEO/job_config.qmd"
              text: Job configuration
            - href: "APIs/openEO/credit_usage.md"
              text: Credit usage
            - href: "APIs/openEO/large_scale_processing.qmd"
              text: Large scale processing
            - section: "openEO federation"
              href: "APIs/openEO/federation/openeo_federation.md"
              contents:
                - href: "APIs/openEO/federation/backends/contract.qmd"
                  text: Federation contract
            - href: "https://openeo.org/documentation/1.0/developers/api/reference.html"
              text: REST API Reference
              target: "_blank"
            - href: "APIs/openEO/fair.qmd"
              text: FAIR & open science
          - section: "Sentinel Hub"
            href: "APIs/SentinelHub.qmd"
            contents:
              - section: "User guides"
                contents:
                  - href: "APIs/SentinelHub/UserGuides/Datamask.qmd"
                    text: Data Mask
                  - href: "APIs/SentinelHub/UserGuides/Transparency.qmd"
                    text: Transparency
                  - href: "APIs/SentinelHub/UserGuides/TimeSeries.qmd"
                    text: Time Series
                  - href: "APIs/SentinelHub/UserGuides/Metadata.qmd"
                    text: Working with metadata in evalscript
                  # - href: "Applications/QGIS.qmd"
                  #   text: QGIS Plugin
              - section: "Data"
                href: "APIs/SentinelHub/Data.qmd"
                contents:
                  - href: "APIs/SentinelHub/Data/S1GRD.qmd"
                    text: Sentinel-1 GRD
                  - href: "APIs/SentinelHub/Data/S2L1C.qmd"
                    text: Sentinel-2 L1C
                  - href: "APIs/SentinelHub/Data/S2L2A.qmd"
                    text: Sentinel-2 L2A
                  - href: "APIs/SentinelHub/Data/S3OLCI.qmd"
                    text: Sentinel-3 OLCI L1B
                  - href: "APIs/SentinelHub/Data/S3SLSTR.qmd"
                    text: Sentinel-3 SLSTR L1B
                  - href: "APIs/SentinelHub/Data/S5PL2.qmd"
                    text: Sentinel-5P L2
                  - href: "APIs/SentinelHub/Data/DEM.qmd"
                    text: Digital Elevation Model (DEM) Data
                  - href: "APIs/SentinelHub/Data/Byoc.qmd"
                    text: Bring Your Own COG / Batch
                  - href: "APIs/SentinelHub/Data/Zarr.qmd"
                    text: Zarr
                  - href: "APIs/SentinelHub/Data/DataFusion.qmd"
                    text: Data Fusion
              - section: "Evalscript (custom script)"
                href: "APIs/SentinelHub/Evalscript.qmd"
                contents:
                  - href: "APIs/SentinelHub/Evalscript/V3.qmd"
                    text: Evalscript V3
                  - href: "APIs/SentinelHub/Evalscript/Functions.qmd"
                    text: Utility Functions
              - section: "API Overview"
                href: "APIs/SentinelHub/Overview.qmd"
                contents:
                  - href: "APIs/SentinelHub/Overview/Authentication.qmd"
                    text: Authentication
                  - href: "APIs/SentinelHub/Overview/RateLimiting.qmd"
                    text: Rate limiting
                  - href: "APIs/SentinelHub/Overview/ProcessingUnit.qmd"
                    text: Processing Unit
                  - href: "APIs/SentinelHub/Overview/ErrorHandling.qmd"
                    text: Error Handling
              - section: "Process API"
                href: "APIs/SentinelHub/Process.qmd"
                contents:
                  - href: "APIs/SentinelHub/Process/Crs.qmd"
                  - section: "Examples"
                    contents:
                      - href: "APIs/SentinelHub/Process/Examples/S1GRD.qmd"
                        text: Examples for S1GRD
                      - href: "APIs/SentinelHub/Process/Examples/S2L1C.qmd"
                        text: Examples for S2L1C
                      - href: "APIs/SentinelHub/Process/Examples/S2L2A.qmd"
                        text: Examples for S2L2A
                      - href: "APIs/SentinelHub/Process/Examples/S3OLCI.qmd"
                        text: Examples for S3OLCI
                      - href: "APIs/SentinelHub/Process/Examples/S3SLSTR.qmd"
                        text: Examples for S3SLSTR
                      - href: "APIs/SentinelHub/Process/Examples/S5PL2.qmd"
                        text: Examples for S5PL2
                      - href: "APIs/SentinelHub/Process/Examples/DEM.qmd"
                        text: Examples for DEM
                      - href: "APIs/SentinelHub/Process/Examples/DataFusion.qmd"
                        text: Examples for DataFusion
              - section: "Asynchronous Processing API"
                href: "APIs/SentinelHub/AsyncProcess.qmd"
                contents:
                  - href: "APIs/SentinelHub/AsyncProcess/Examples.qmd"
                    text: Examples for Asynchronous Processing API
              - section: "Catalog API"
                href: "APIs/SentinelHub/Catalog.qmd"
                contents:
                  - href: "APIs/SentinelHub/Catalog/Examples.qmd"
                    text: Examples for Catalog API
              - section: "Batch Processing API"
                href: "APIs/SentinelHub/Batch.qmd"
                contents:
                  - href: "APIs/SentinelHub/Batch/Crs.qmd"
                    text: CRS
                  - href: "APIs/SentinelHub/Batch/Examples.qmd"
                    text: Examples of Batch Processing Workflow
              - section: "Statistical API"
                href: "APIs/SentinelHub/Statistical.qmd"
                contents:
                  - href: "APIs/SentinelHub/Statistical/Examples.qmd"
                    text: Examples for Statistical API
              - section: "Batch Statistical API"
                href: "APIs/SentinelHub/BatchStatistical.qmd"
                contents:
                  - href: "APIs/SentinelHub/BatchStatistical/Examples.qmd"
                    text: Examples of Batch Statistical Workflow
              - section: "Bring Your Own COG API"
                href: "APIs/SentinelHub/Byoc.qmd"
                contents:
                  - href: "APIs/SentinelHub/Byoc/Examples.qmd"
                    text: BYOC API examples
              - section: "Zarr Import API"
                href: "APIs/SentinelHub/Zarr.qmd"
                contents:
                  - href: "APIs/SentinelHub/Zarr/Examples.qmd"
                    text: Zarr Import API examples
              - section: "OGC"
                href: "APIs/SentinelHub/OGC.qmd"
                contents:
                  - href: "APIs/SentinelHub/OGC/WMS.qmd"
                    text: WMS
                  - href: "APIs/SentinelHub/OGC/WCS.qmd"
                    text: WCS
                  - href: "APIs/SentinelHub/OGC/WFS.qmd"
                    text: WFS
                  - href: "APIs/SentinelHub/OGC/WMTS.qmd"
                    text: WMTS
                  - href: "APIs/SentinelHub/OGC/AdditionalRequestParameters.qmd"
                    text: Additional Request Parameters
                  - href: "APIs/SentinelHub/OGC/OutputFormats.qmd"
                    text: Output Formats
                  - href: "APIs/SentinelHub/OGC/Examples.qmd"
                    text: Examples for OGC
              - href: "APIs/SentinelHub/ApiReference.qmd"
                text: "API Reference"
      - section: "Applications"
        href: Applications.qmd
        contents:
          - href: Applications/Browser.qmd
          - href: Applications/Catalogue-csv.qmd
            text: "Catalogue CSV"
          - href: Applications/DataWorkspace.qmd
          - Section: "openEO Algorithm Plaza"
            href: Applications/AlgorithmPlaza.qmd
            contents:
            - href: Applications/PlazaDetails/ManageOrg.qmd
              text: "Manage your Organisation"
            - href: Applications/PlazaDetails/PublishService.qmd
              text: "Publish a Service"  
            - href: Applications/PlazaDetails/ExecuteService.qmd
              text: "Execute a Service"
            - section: "Manage a Service"
              href: Applications/PlazaDetails/ManageService.qmd
              text: "Manage a Service"
              contents:
              - href: Applications/PlazaDetails/ServiceMaturity.qmd
                text: "Service Maturity"
              - href: Applications/PlazaDetails/Strength.qmd
                text: "Service credit consumption"
            - href: Applications/PlazaDetails/Reporting.qmd
              text: "Reporting"
          - href: Applications/WebEditor.qmd
          - href: Applications/JupyterHub.qmd
          - href: Applications/QGIS.qmd
            text: "QGIS Plugin"
          - href: Applications/DataSpaceDashboard.qmd
      - href: Quotas.qmd
        text: "Quotas and Limitations"
      - href: ResearchNetwork.qmd
        text: "Access through Research Network"  
      - href: Usecase.qmd
      - text: "---"
      - href: FAQ.qmd
        text: FAQ
      - href: Support.md
        text: Support
      - text: "---"
      - section: Catalog APIs news
        contents:
        - href: APIs/Others/UpcomingChanges.qmd
        - href: APIs/Others/ReleaseNotes.qmd



format:
  html:
    toc: true
    toc-depth: 4
    page-layout: full
    theme:
      - custom
      - layout.scss
    css: custom.css
    include-in-header:
      file: custom.html
    link-external-icon: true
    link-external-newwindow: true
    link-external-filter: '^(?:http:|https:)\/\/documentation.*dataspace.copernicus\/custom'
    mermaid-format: png
    mermaid:
      theme: neutral
bread-crumbs: true
ipynb-filters:
  - notebook_filter.py
