project:
  type: website

website:
  repo-url: "https://github.com/eu-cdse/documentation"
  repo-branch: "publish"
  site-url: "https://documentation.dataspace.copernicus.eu/"
  issue-url: "https://github.com/eu-cdse/documentation/issues"
  site-path: '/Home.html'
  search:
    location: sidebar
    type: textbox 
    copy-button: true

  navbar:
    background: "#0A4393"
    height: 50
    foreground: "light"
    logo: "_images/logos/combinedLogo.svg"
    logo-href: 'https://dataspace.copernicus.eu/'
    pinned: true
    
    
  page-navigation: true
    
  title: "Documentation"
  

  sidebar:
    style: "floating"
    collapse-level: 1
    contents:
      - href: Home.qmd
        text: Welcome
      - section: "Service description and evolution roadmap"
        href: Roadmap.md
        contents: 
          - href: Roadmap/DataTable.qmd
          - href: Roadmap/APITable.qmd
          - href: Roadmap/AppTable.qmd
      - text: "---"
      - href: Registration.md
        text: User registration and authentication
      - section: "Data"
        href: Data.md
        contents: 
          - href: Data/Dashboard.qmd
          - href: Data/Sentinel1.qmd
          - href: Data/Sentinel2.qmd
          - href: Data/Sentinel3.qmd
          - href: Data/Sentinel5P.qmd
      - section: "APIs"
        href: APIs.md
        contents: 
          - href: APIs/Token.qmd
            text: Keycloak Token
          - href: APIs/OData.qmd
          - href: APIs/OpenSearch.qmd
            text: OpenSearch
          - section: "openEO"
            href: APIs/openEO/openEO.qmd
            contents: 
            - href: "APIs/openEO/Glossary.qmd"
              text: Glossary            
            - href: "APIs/openEO/Python_Client/Python.qmd"
              text: Using Python client
            - href: "APIs/openEO/R_Client/R.qmd"
              text: Using R client
            - href: "APIs/openEO/JavaScript_Client/JavaScript.qmd"
              text: Using JavaScript client
            - href: "APIs/openEO/job_config.qmd"
              text: Job configuration
            - section: "Jupyter notebooks"
              contents:
              - href: "notebook-samples/openeo/NDVI_Timeseries.ipynb"
                text: "Zonal statistics over time"
              - href: "notebook-samples/openeo/Load_Collection.ipynb"
                text: "Load Sentinel-2 data"
              - href: "notebook-samples/openeo/UDF.ipynb"
                text: User defined functions
              - href: "notebook-samples/openeo/UDP.ipynb"
                text: Publishing workflow as a service
              - href: "APIs/openEO/openeo-community-examples/python/BasicSentinelMerge/sentinel_merge.ipynb"
                text: "Preprocessing & merging Sentinels"
          - href: APIs/STAC.md
          - href: APIs/S3.md
            text: S3 Access
          - href: APIs/Traceability.md
            text: Traceability API
          - href: APIs/On-Demand Production API.md
            text: On-Demand Production API
          - section: "Sentinel Hub"
            href: "APIs/SentinelHub.md"
            contents:
              - section: "User guides"
                contents: 
                  - href: "APIs/SentinelHub/UserGuides/Datamask.qmd"
                    text: Data Mask
                  - href: "APIs/SentinelHub/UserGuides/CloudMasks.qmd"
                    text: Cloud Masks
                  - href: "APIs/SentinelHub/UserGuides/Transparency.qmd"
                    text: Transparency
                  - href: "APIs/SentinelHub/UserGuides/TimeSeries.qmd"
                    text: Time Series
              - section: "Evalscript (custom script)"
                href: "APIs/SentinelHub/Evalscript.qmd"
                contents:
                  - href: "APIs/SentinelHub/Evalscript/V3.qmd"
                    text: Evalscript V3
                  - href: "APIs/SentinelHub/Evalscript/Functions.qmd"
                    text: Utility Functions
              - section: "API Overview"
                href: "APIs/SentinelHub/Overview.qmd"
                contents:
                  - href: "APIs/SentinelHub/Overview/Authentication.qmd"
                    text: Authentication
                  - href: "APIs/SentinelHub/Overview/RateLimiting.qmd"
                    text: Rate limiting
                  - href: "APIs/SentinelHub/Overview/ProcessingUnit.qmd"
                    text: Processing Unit
                  - href: "APIs/SentinelHub/Overview/ErrorHandling.qmd"
                    text: Error Handling
              - section: "Process API"
                href: "APIs/SentinelHub/Process.qmd"
                contents:
                  - href: "APIs/SentinelHub/Process/Crs.qmd"
                  - section: "Examples"
                    contents:
                      - href: "APIs/SentinelHub/Process/Examples/S2L1C.qmd"
                        text: Examples for S2L1C
                      - href: "APIs/SentinelHub/Process/Examples/S2L2A.qmd"
                        text: Examples for S2L2A
                      - href: "APIs/SentinelHub/Process/Examples/S3OLCI.qmd"
                        text: Examples for S3OLCI
                      - href: "APIs/SentinelHub/Process/Examples/S3SLSTR.qmd"
                        text: Examples for S3SLSTR
                      - href: "APIs/SentinelHub/Process/Examples/S5PL2.qmd"
                        text: Examples for S5PL2
              - section: "Catalog API"
                href: "APIs/SentinelHub/Catalog.qmd"
                contents:
                  - href: "APIs/SentinelHub/Catalog/Examples.qmd"
                    text: Examples for Catalog API
              - section: "Statistical API"
                href: "APIs/SentinelHub/Statistical.qmd"
                contents:
                  - href: "APIs/SentinelHub/Statistical/Examples.qmd"
                    text: Examples for Statistical API
              - section: "OGC"
                href: "APIs/SentinelHub/OGC.qmd"
                contents:
                  - href: "APIs/SentinelHub/OGC/WMS.qmd"
                    text: WMS
                  - href: "APIs/SentinelHub/OGC/WCS.qmd"
                    text: WCS
                  - href: "APIs/SentinelHub/OGC/WFS.qmd"
                    text: WFS
                  - href: "APIs/SentinelHub/OGC/WMTS.qmd"
                    text: WMTS
                  - href: "APIs/SentinelHub/OGC/AdditionalRequestParameters.qmd"
                    text: Additional Request Parameters
                  - href: "APIs/SentinelHub/OGC/OutputFormats.qmd"
                    text: Output Formats
                  - href: "APIs/SentinelHub/OGC/Examples.qmd"
                    text: Examples for OGC
              - href: "APIs/SentinelHub/ApiReference.qmd"
                text: "API Reference"
              - section: "Jupyter notebooks"
                contents:
                - href: "notebook-samples/sentinelhub/migration_from_scihub_guide.ipynb"
                  text: "Migration from SciHub"
                - href: "notebook-samples/sentinelhub/process_request.ipynb"
                  text: "Sentinel Hub Process API"
                - href: "notebook-samples/sentinelhub/lake_ice_monitoring.ipynb"
                  text: "Classification of Ice and Open Water"
                - href: "notebook-samples/sentinelhub/pollution.ipynb"
                  text: "Measuring NO2 concentrations"
      - section: "Applications"
        href: Applications.md
        contents: 
          - href: Applications/Browser.md
          - href: Applications/AlgorithmPlaza.qmd
          - href: Applications/WebEditor.qmd
          - href: Applications/JupyterHub.qmd
      - text: "---"
      - href: FAQ.qmd
        text: FAQ
      - href: Support.md
        text: Support
    


format:
  html:
    toc: true
    toc-depth: 4
    page-layout: full
    theme:
      - custom
      - layout.scss
    css: custom.css
    include-in-header:
      file: custom.html

ipynb-filters:
  - notebook_filter.py
