/*-- scss:77CC09uses --*/

:root {
   --cdse-default-font-family: 'Arial';
   --cdse-background-color: white;
   --cdse-primary-color: #0A4393;
   --cdse-primary-contrast-color: #ced9e9;
   --cdse-secondary-color: #77cc09;
   --cdse-tertiary-color: #FABC20;
   --cdse-primary-line-color: #4570ad;

   --cdse-top-bar-height: 100px;
   --cdse-default-font-size: 14px;
   --cdse-title-font-size: 48px;
   --cdse-subtitle-font-size: 14px;
   --cdse-padding-left: 325px;
}


body,
html {
   font-family: var(--cdse-default-font-family);
   font-size: var(--cdse-default-font-size);
}

main a {
   color: var(--cdse-primary-color) !important;
}

.nav-tabs .nav-link {
   color: var(--cdse-primary-color) !important;
}

div.callout-note.callout-style-default>.callout-header {
   background-color: var(--cdse-primary-color);
   color: white;
   font-size:  var(--cdse-default-font-size);
}
div.callout-note.callout {
   border-left-color: var(--cdse-primary-color);
}
.callout.callout-style-default .callout-body {
   font-size: var(--cdse-default-font-size);
}


summary {
   background-color: #f6f6f6;
   font-size: var(--cdse-default-font-size);
   border-radius: 5px;
   padding: 1rem;
   list-style: none;
   display: flex;
   justify-content: space-between;
   transition: height 1s ease;
}

summary::-webkit-details-marker {
   display: none;
}

summary:after{
   content: "\002B";
}

details[open] summary {
   border-bottom: 2px solid var(--cdse-secondary-color);
   margin-bottom: 1em;
}

details[open] summary:after{
   content: "\00D7";

}

details[open] p{
   padding: .5em 1em;
}

.sidebar nav[role=doc-toc] ul {
   font-size: var(--cdse-default-font-size);
}

.sidebar nav[role=doc-toc]>h2 {
   font-size: var(--cdse-default-font-size);
   font-weight: bold;
   margin-bottom: .5rem;
}

.sidebar nav[role=doc-toc] a {
   padding-top: .5rem !important;
   padding-bottom: .5rem !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
   border-left: 1px solid var(--cdse-secondary-color);
   color: var(--cdse-secondary-color) !important;
}

h1 {
   font-size: var(--cdse-title-font-size);
   font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
   color: var(--cdse-primary-color);
}

h4 {
   font-weight: 700;
}

h5, h6{
   opacity: 1.0;
   font-weight: 700;
   font-size: 16px;
   margin-top: 1rem;
   margin-bottom: 0.25rem;
}

h1 a {
   text-decoration: none;
}

.sidebar-item {
   margin-bottom: .5rem;
   font-size: var(--cdse-default-font-size) !important;
}

div.sidebar-item-container .active {
   color: var(--cdse-secondary-color);
   font-weight: bold;
}

div.sidebar-item-container:hover {
   color: var(--cdse-secondary-color);
}


.navbar-container {
   position: relative;
   padding: 0.5rem 18vw 0.5rem 18vw !important;
}

.navbar::after {
   content: "";
   background: linear-gradient(270deg, #77cc09, #fc0, #77cc09);
   background-size: 200% 100%;
   animation: 3s linear infinite page--header-grad;
   position: absolute;
   height: 6px;
   left: 0;
   right: 0;
   bottom: 0;
}

@keyframes page--header-grad {

   0%,
   100% {
      background-position: 0 100%
   }

   50% {
      background-position: 100% 100%
   }
}


.navbar-brand-container {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   max-width: unset !important;
}

.navbar-logo {
   width: 333px;
   max-height: unset !important;
}

.navbar-title {
   font-size: var(--cdse-title-font-size);
   font-weight: 700;
   white-space: normal;

}

.navbar-brand:last-child {
   margin-top: 1.5rem;
}

.navbar-brand {
   flex: 1;
   width: 100%;
   display: initial;
}

.nav-item.selected>.nav-link {
   margin-bottom: -2px;
   border-bottom: 2px solid #77CC09;
   padding-bottom: 4px;
}

.nav-items>.nav-item {
   position: relative;
   display: inline-block;
   line-height: 2rem;
   text-transform: uppercase;
}
tr.header {
   border-top: 1px solid var(--cdse-secondary-color);
}


.table-roadmap {
   /* font-family: Arial, Helvetica, sans-serif; */

   border-collapse: collapse;
   width: 100%;
}

.table-roadmap td,
.table-roadmap th {
   /* border: 1px solid #ddd; */
   padding: 8px;
}

.table-roadmap tr:nth-child(even) {
   background-color: #f2f2f2;
}

.table-roadmap tr:hover {
   background-color: #ddd;
}

.table-roadmap th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #77CC09;
   color: white;
   top: 0;
}

.table-roadmap thead tr {
   position: sticky;
   top: 0;
}

.table-responsive {
   display: block;
   width: 100%;
   overflow-x: auto;
}

.table-responsive table {
   width: 100%;
   max-width: 100%;
   background-color: transparent;
}

form[role=search] {
   border: 1px solid var(--cdse-primary-color) !important;
   border-radius: 8px !important;
   height: 42px !important;
}

.aa-SubmitIcon, .search-result-title {
   color: var(--cdse-primary-color) !important;
}

.search-result-title {
   font-weight: bold;
}


#quarto-search-results li.aa-Item[aria-selected=true] .search-item.search-result-more,
#quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-section,
#quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text,
#quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-title-container,
#quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text-container,
#quarto-search-results li.aa-Item[aria-selected=true] .search-item,
#quarto-search-results li.aa-Item[aria-selected=true] .search-result-title{
   background-color: var(--cdse-primary-color);
   color: white !important;
}


input, .search-result-header, .search-result-container, .search-result-section, .search-result-text {
   font-size: var(--cdse-default-font-size) !important;
}


.clickable {
  color: white !important;
   background-color: var(--cdse-secondary-color);
   padding: 10px 20px;
   border-radius: 17px;
   white-space: nowrap;
   line-height: 13px;
   margin-bottom: 5px;
   text-decoration: none;
   font-size: 10px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: .04em;

}

.clickable:hover {
    cursor: pointer;
 }

@media (max-width: 1350px) {
   .navbar-container {
      position: relative;
      padding: 2% 1rem 2% 1rem !important;
   }

   .navbar-brand:last-child {
      max-width: 100%;
   }
}

@media (max-width: 768px) {
   .navbar-title {
      font-size: calc(var(--cdse-title-font-size) * (2/3));
      font-weight: 700;
      white-space: normal;

   }

   .navbar-brand:last-child {
      margin-top: 1rem;
   }

   .navbar-logo {
      width: 100%;
   }

   h1 {
      font-size: calc(var(--cdse-title-font-size) * (2/3));
   }

   .quarto-secondary-nav {
      padding: 0.5rem 1rem;
   }
}


   .expand-collapse {
      font-size: var(--cdse-default-font-size);
     font-weight: 700;
     color: var(--cdse-primary-color);
      border: none;
     border-bottom: 1px solid var(--cdse-primary-color);
     margin-bottom: 1rem;
   }


 .expand-content{
   padding: 1rem;
   opacity: 1;
   height: auto;
   background-color: #fafafa;
 }

 .expand-content div {
    margin: .25rem 0;
 }
.badge-row {
   margin-bottom: 1rem;
   display: flex;
}
.badge-row.gutter {
   margin-bottom: 5px;
}
.badge-row > a, .badge-row > img {
   margin-right: .5rem;
}
.callout.callout-style-default .callout-body {
   font-family: var(--cdse-default-font-family);
   font-size: var(--cdse-default-font-size);
}
