a {
    word-break: break-word;
}

article.markdown-section {
    max-width: 1200px !important;
    padding: 0 40px;
}

@media only screen and (min-width: 1200px) {
    article.markdown-section {
        padding-right: 15% !important;

    }
}

.sidebar-nav li > ul.app-sub-sidebar, .sidebar-nav li p > ul.app-sub-sidebar {
    position: fixed;
    right: 13px;
    top: 100px;
    border-left: 1px solid #e0e0e0;
    width: 15%;
    padding-left: 5px;
}

/* Hide the sub sidebar for now */
.app-sub-sidebar {
    display: none !important;
}

.app-sub-sidebar a {
    font-size: 13px !important;
    border-right: none !important;
    font-weight: 400 !important;
    color: #505d6b !important;
}

.app-sub-sidebar a:hover {
    background-color: inherit !important;
}

.app-sub-sidebar li::before {
    content: '' !important;
}

.sidebar li.collapse .app-sub-sidebar {
    display: inherit !important;
}

.command-line {
    background-color: #444 !important;
    color: #fff;
    padding: 10px !important;
    border-radius: 3px;
}

.command-line > span.output {
    color: #63E463;
}

.limit-height > pre {
    max-height: 400px;
}

.markdown-section a {
    text-decoration: none !important;
}

.markdown-section h1 {
    font-size: 2.7rem;
}

.markdown-section h2 {
    font-size: 1.8rem;
}

.markdown-section h3 {
    font-size: 1.2rem;
}

aside.sidebar {
    padding-top: calc(90px + 22px);
}

section.content {
    padding-top: 22px;
}

nav.navbar {
    margin: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    background-color: #0A4393;
    border-bottom: 1px solid #cccccc;
    z-index: 10;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    font-family: 'Lato';
    justify-content: space-between;
}

.navbar > .nav-items {
    display: flex;
}

.navbar .logos a {
    margin-right: 10px;
    text-decoration: none;
}

.nav-items > .nav-item {
    position: relative;
    display: inline-block;
    line-height: 2rem;
    text-transform: uppercase;
}

.nav-items > .nav-item {
    margin-left: 1.5rem;
    color: white;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

.nav-item > .nav-link {
    text-decoration: none;
    color: inherit !important;
}

.nav-item > .nav-link:hover,
.nav-item.selected > .nav-link {
    margin-bottom: -2px;
    border-bottom: 2px solid #77CC09;
    padding-bottom: 4px;
}

.token.part {
    color: #22a2c9;
}

.token.auth {
    color: #22a2c9;
}

.docsify-copy-code-button {
    position: sticky !important;
    top: 0 !important;
    bottom: 10px !important;
    margin-right: -10px !important;
    float: right !important;
    display: none;
}

h4 {
    margin-bottom: -7px;
}

h5 {
    margin-bottom: 0px;
}

[data-lang="shc"] .docsify-copy-code-button {
    display: inherit;
}

.markdown-section span,
.markdown-section div,
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
    line-height: 1.2rem;
}

.results-panel .matching-post p {
    display: none;
}

blockquote.tip {
    border-color: #42b983;
}

blockquote.error {
    border-color: #dc5034;
}

blockquote.warning {
    border-color: #ff9800;
}

.table-roadmap {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

.table-roadmap td, .table-roadmap th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    word-break: break-word;
}

.table-roadmap tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-roadmap tr:hover {
    background-color: #ddd;
}

.table-roadmap th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #77CC09;
    color: white;
    top: 0;
}

.table-roadmap thead tr {
    position: sticky;
    top: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}