openapi: 3.1.0
info:
  title: API Reference
  description: >
    This page contains the documentation on how to use sentinel hub services
    through API calls.


    > Note: This documentation is not complete
  version: 1.0.0
  contact:
    name: Sentinel Hub
servers:
  - url: https://sh.dataspace.copernicus.eu
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: >
        ### Authentication


        More about the authentication <a
        href="https://eu-cdse.github.io/documentation/APIs/SentinelHub/Overview/Authentication.html"
        target="_blank">here</a>.


        To get an access token using curl:


        ```

        curl --request POST \
          --url https://sh.dataspace.copernicus.eu/oauth/token \
          --header "content-type: application/x-www-form-urlencoded" \
          --data "grant_type=client_credentials&client_id=<your client id>&client_secret=<your client secret>"
        ```
      flows:
        clientCredentials:
          tokenUrl: https://sh.dataspace.copernicus.eu/oauth/token
          scopes:
            SH: Sentinel Hub
        implicit:
          authorizationUrl: https://sh.dataspace.copernicus.eu/oauth/auth
          scopes:
            SH: Sentinel Hub
  parameters:
    SearchBeanSearch:
      name: search
      description: >-
        Optional search query. Either a single word to search for or multiple
        words separated by the `|` (or) and `&` (and) operators. If omitted, all
        items are returned.
      in: query
      schema:
        type: string
    SearchBeanCount:
      name: count
      description: >-
        Upper limit to the number of items to retrieve. It cannot be larger than
        the endpoint-specific limit. If omitted, the endpoint-specific limit is
        used.

        For more records, use *viewtoken* to page through.
      in: query
      schema:
        type: integer
        format: int32
    SearchBeanViewtoken:
      name: viewtoken
      description: >-
        When total number of items is larger than *count*, the response contains
        *viewtoken*. This *viewtoken* can be used in the next request to
        retrieve the next page of items.
      in: query
      schema:
        type: string
    SearchBeanSort:
      name: sort
      description: sort
      in: query
      schema:
        type: string
    CatalogCollectionsCollectionId:
      name: collectionId
      in: path
      description: local identifier of a collection
      required: true
      schema:
        type: string
    CatalogFeaturesBbox:
      name: bbox
      in: query
      description: >-
        Only features that have a geometry that intersects the bounding box are
        selected.

        The bounding box is provided as four or six numbers, depending on
        whether the

        coordinate reference system includes a vertical axis (height or depth):


        * Lower left corner, coordinate axis 1

        * Lower left corner, coordinate axis 2

        * Minimum value, coordinate axis 3 (optional)

        * Upper right corner, coordinate axis 1

        * Upper right corner, coordinate axis 2

        * Maximum value, coordinate axis 3 (optional)


        The coordinate reference system of the values is WGS 84
        longitude/latitude

        (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


        For WGS 84 longitude/latitude the values are in most cases the sequence
        of

        minimum longitude, minimum latitude, maximum longitude and maximum
        latitude.

        However, in cases where the box spans the antimeridian the first value

        (west-most box edge) is larger than the third value (east-most box
        edge).


        If the vertical axis is included, the third and the sixth number are

        the bottom and the top of the 3-dimensional bounding box.


        If a feature has multiple spatial geometry properties, it is the
        decision of the

        server whether only a single spatial geometry property is used to
        determine

        the extent or all relevant geometries.
      required: false
      schema:
        type: array
        oneOf:
          - minItems: 4
            maxItems: 4
          - minItems: 6
            maxItems: 6
        items:
          type: number
      style: form
      explode: false
    CatalogFeaturesCollectionId:
      name: collectionId
      in: path
      description: local identifier of a collection
      required: true
      schema:
        type: string
    CatalogFeaturesDatetime:
      name: datetime
      in: query
      description: >-
        Either a date-time or an interval, open or closed. Date and time
        expressions

        adhere to RFC 3339. Open intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A closed interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Open intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.
      required: false
      schema:
        type: string
      style: form
      explode: false
    CatalogFeaturesFeatureId:
      name: featureId
      in: path
      description: local identifier of a feature
      required: true
      schema:
        type: string
    CatalogFeaturesLimit:
      name: limit
      in: query
      description: >-
        The optional limit parameter recommends the number of items that should
        be present in the response document.


        If the limit parameter value is greater than advertised limit maximum,
        the server must return the

        maximum possible number of items, rather than responding with an error.


        Only items are counted that are on the first level of the collection in
        the response document.

        Nested objects contained within the explicitly requested items must not
        be counted.


        Minimum = 1. Maximum = 100. Default = 10.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      style: form
      explode: false
    CatalogItemSearchFieldsFields:
      name: fields
      x-stac-api-fragment: fields
      in: query
      description: |-
        **Extension:** Fields

        Determines the shape of the features in the response
      required: false
      schema:
        type: string
        example: id,type,-geometry,bbox,properties,-links,-assets
      style: form
      explode: false
    CatalogItemSearchFilterFilter:
      name: filter
      x-stac-api-fragment: filter
      in: query
      description: |-
        **Extension:** Filter

        A CQL2 filter expression for filtering items.
      required: false
      schema:
        $ref: '#/components/schemas/CatalogItemSearchFilterFilterCql2Text'
      example: eo:cloud_cover>90
    CatalogItemSearchDistinctDistinct:
      name: distinct
      x-stac-api-fragment: distinct
      in: query
      description: |-
        **Extension:** Distinct

        Return distinct values of specified property.
      required: false
      schema:
        type: string
      style: form
      explode: false
    CatalogItemSearchIds:
      name: ids
      in: query
      description: Array of Item ids to return.
      required: false
      schema:
        $ref: '#/components/schemas/CatalogItemSearchIds'
      explode: false
    CatalogItemSearchCollectionsArray:
      name: collections
      in: query
      description: |
        Array of Collection IDs to include in the search for items.
        Only Item objects in one of the provided collections will be searched
      required: true
      schema:
        $ref: '#/components/schemas/CatalogItemSearchCollectionsArray'
      explode: false
      example:
        - sentinel-2-l2a
    CatalogItemSearchDatetime:
      name: datetime
      in: query
      description: >-
        Either a date-time or an interval, open or closed. Date and time
        expressions

        adhere to RFC 3339. Open intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A closed interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Open intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.
      required: true
      schema:
        type: string
      style: form
      explode: false
      example: 2020-12-10T00:00:00Z/2020-12-30T00:00:00Z
    CatalogItemSearchBbox:
      name: bbox
      in: query
      description: >-
        Only features that have a geometry that intersects the bounding box are
        selected.

        The bounding box is provided as four or six numbers, depending on

        whether the coordinate reference system includes a vertical axis (height

        or depth):


        * Lower left corner, coordinate axis 1

        * Lower left corner, coordinate axis 2

        * Minimum value, coordinate axis 3 (optional)

        * Upper right corner, coordinate axis 1

        * Upper right corner, coordinate axis 2

        * Maximum value, coordinate axis 3 (optional)


        The coordinate reference system of the values is WGS 84

        longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


        For WGS 84 longitude/latitude the values are in most cases the sequence

        of minimum longitude, minimum latitude, maximum longitude and maximum

        latitude. However, in cases where the box spans the antimeridian the

        first value (west-most box edge) is larger than the third value

        (east-most box edge).


        If the vertical axis is included, the third and the sixth number are

        the bottom and the top of the 3-dimensional bounding box.


        If a feature has multiple spatial geometry properties, it is the

        decision of the server whether only a single spatial geometry property

        is used to determine the extent or all relevant geometries.


        Example: The bounding box of the New Zealand Exclusive Economic Zone in

        WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be

        represented in JSON as `[160.6, -55.95, -170, -25.89]` and in a query as

        `bbox=160.6,-55.95,-170,-25.89`.
      required: false
      schema:
        type: array
        oneOf:
          - minItems: 4
            maxItems: 4
          - minItems: 6
            maxItems: 6
        items:
          type: number
      style: form
      explode: false
      example:
        - 13
        - 45
        - 14
        - 46
    CatalogItemSearchLimit:
      name: limit
      in: query
      description: >-
        The optional limit parameter recommends the number of items that should
        be present in the response document.


        Only items are counted that are on the first level of the collection in
        the response document.

        Nested objects contained within the explicitly requested items must not
        be counted.


        Minimum = 1. Maximum = 100. Default = 10.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      style: form
      explode: false
      example: 1
    CatalogItemSearchIntersects:
      name: intersects
      in: query
      description: >-
        The optional intersects parameter filters the result Items in the same
        was as bbox, only with

        a GeoJSON Geometry rather than a bbox.
      required: false
      schema:
        $ref: '#/components/schemas/CatalogGeometryGeoJSON'
      style: form
      explode: false
    ConfigurationDatasetType:
      name: datasetType
      description: Dataset type
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/DatasetType'
    ConfigurationDataproductId:
      name: id
      description: Dataproduct ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ConfigurationDatasetId:
      name: datasetId
      description: Dataset ID
      in: path
      required: true
      schema:
        type: string
    ConfigurationDatasetSourceId:
      name: id
      description: Dataset source ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    WmsInstanceId:
      name: instanceId
      description: Instance ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WmsLayerId:
      name: layerId
      description: Layer ID
      in: path
      required: true
      schema:
        type: string
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '401':
      description: Unauthorized
    '403':
      description: Insufficient permissions
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '409':
      description: Conflict in the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '500':
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    CatalogError:
      description: An error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogCoreLandingPage:
      description: |-
        The landing page provides links to the API definition
        (link relations `service-desc` and `service-doc`),
        the Conformance declaration (path `/conformance`,
        link relation `conformance`), and the Feature
        Collections (path `/collections`, link relation
        `data`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogCoreLandingPage'
          example:
            type: Catalog
            stac_version: 1.0.0
            id: sentinel-hub
            title: Sentinel Hub STAC catalog
            description: STAC v1.0.0 implementation by Sentinel Hub
            conformsTo:
              - https://api.stacspec.org/v1.0.0-rc.2/core
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson
            links:
              - href: https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/
                rel: self
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/conformance
                rel: conformance
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections
                rel: data
              - href: https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/search
                rel: search
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a
                rel: child
    CatalogConformanceDeclaration:
      description: |-
        The URIs of all conformance classes supported by the server.

        To support "generic" clients that want to access multiple
        OGC API Features implementations - and not "just" a specific
        API / server, the server declares the conformance
        classes it implements and conforms to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogConformanceClasses'
          example:
            conformsTo:
              - https://api.stacspec.org/v1.0.0-rc.2/core
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson
    CatalogCollectionsCollections:
      description: >-
        The feature collections shared by this API.


        The dataset is organized as one or more feature collections. This
        resource

        provides information about and access to the collections.


        The response contains the list of collections. For each collection, a
        link

        to the items in the collection (path
        `/collections/{collectionId}/items`,

        link relation `items`) as well as key information about the collection.

        This information includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may
        be returned by the server. The first CRS is the default coordinate
        reference system (the default is always WGS 84 with axis order
        longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the
        spatial and temporal extent of the collection - typically derived from
        the data;

        * An optional indicator about the type of the items in the collection
        (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogCollectionsCollections'
          example:
            links:
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/
                rel: self
                type: application/json
            collections:
              - stac_version: 1.0.0
                stac_extensions:
                  - https://stac-extensions.github.io/eo/v1.0.0/schema.json
                type: Collection
                id: sentinel-2-l1c
                title: Sentinel 2 L1C
                description: Sentinel 2 imagery processed to level 1C
                license: proprietary
                providers:
                  - name: ESA
                    roles:
                      - producer
                    url: https://esa.int/
                  - name: AWS
                    roles:
                      - host
                    url: https://aws.amazon.com/
                  - name: Sinergise
                    roles:
                      - processor
                    url: https://www.sinergise.com/
                extent:
                  spatial:
                    bbox:
                      - - -180
                        - -56
                        - 180
                        - 83
                  temporal:
                    interval:
                      - - '2015-11-01T00:00:00Z'
                        - null
                summaries:
                  eo:bands:
                    - name: B01
                      common_name: coastal
                      center_wavelength: 0.4427
                      full_width_half_max: 0.021
                    - name: B02
                      common_name: blue
                      center_wavelength: 0.4924
                      full_width_half_max: 0.066
                    - name: B03
                      common_name: green
                      center_wavelength: 0.5598
                      full_width_half_max: 0.036
                    - name: B04
                      common_name: red
                      center_wavelength: 0.6646
                      full_width_half_max: 0.031
                    - name: B05
                      center_wavelength: 0.7041
                      full_width_half_max: 0.015
                    - name: B06
                      center_wavelength: 0.7405
                      full_width_half_max: 0.015
                    - name: B07
                      center_wavelength: 0.7828
                      full_width_half_max: 0.02
                    - name: B08
                      common_name: nir
                      center_wavelength: 0.8328
                      full_width_half_max: 0.106
                    - name: B8A
                      common_name: nir08
                      center_wavelength: 0.8647
                      full_width_half_max: 0.021
                    - name: B09
                      common_name: nir09
                      center_wavelength: 0.9451
                      full_width_half_max: 0.02
                    - name: B10
                      common_name: cirrus
                      center_wavelength: 1.3735
                      full_width_half_max: 0.031
                    - name: B11
                      common_name: swir16
                      center_wavelength: 1.6137
                      full_width_half_max: 0.091
                    - name: B12
                      common_name: swir22
                      center_wavelength: 2.2024
                      full_width_half_max: 0.175
                links:
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l1c
                    rel: self
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l1c/items
                    rel: items
              - stac_version: 1.0.0
                stac_extensions:
                  - https://stac-extensions.github.io/eo/v1.0.0/schema.json
                type: Collection
                id: sentinel-2-l2a
                title: Sentinel 2 L2A
                description: Sentinel 2 imagery processed to level 2A
                license: proprietary
                providers:
                  - name: ESA
                    roles:
                      - producer
                    url: https://esa.int/
                  - name: AWS
                    roles:
                      - host
                    url: https://aws.amazon.com/
                  - name: Sinergise
                    roles:
                      - processor
                    url: https://www.sinergise.com/
                extent:
                  spatial:
                    bbox:
                      - - -180
                        - -56
                        - 180
                        - 83
                  temporal:
                    interval:
                      - - '2016-11-01T00:00:00Z'
                        - null
                summaries:
                  eo:bands:
                    - name: B01
                      common_name: coastal
                      center_wavelength: 0.4427
                      full_width_half_max: 0.021
                    - name: B02
                      common_name: blue
                      center_wavelength: 0.4924
                      full_width_half_max: 0.066
                    - name: B03
                      common_name: green
                      center_wavelength: 0.5598
                      full_width_half_max: 0.036
                    - name: B04
                      common_name: red
                      center_wavelength: 0.6646
                      full_width_half_max: 0.031
                    - name: B05
                      center_wavelength: 0.7041
                      full_width_half_max: 0.015
                    - name: B06
                      center_wavelength: 0.7405
                      full_width_half_max: 0.015
                    - name: B07
                      center_wavelength: 0.7828
                      full_width_half_max: 0.02
                    - name: B08
                      common_name: nir
                      center_wavelength: 0.8328
                      full_width_half_max: 0.106
                    - name: B8A
                      common_name: nir08
                      center_wavelength: 0.8647
                      full_width_half_max: 0.021
                    - name: B09
                      common_name: nir09
                      center_wavelength: 0.9451
                      full_width_half_max: 0.02
                    - name: B11
                      common_name: swir16
                      center_wavelength: 1.6137
                      full_width_half_max: 0.091
                    - name: B12
                      common_name: swir22
                      center_wavelength: 2.2024
                      full_width_half_max: 0.175
                links:
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a
                    rel: self
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items
                    rel: items
    CatalogCollectionsCollection:
      description: >-
        Information about the feature collection with id `collectionId`.


        The response contains a link to the items in the collection

        (path `/collections/{collectionId}/items`, link relation `items`)

        as well as key information about the collection. This information

        includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may
        be returned by the server. The first CRS is the default coordinate
        reference system (the default is always WGS 84 with axis order
        longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the
        spatial and temporal extent of the collection - typically derived from
        the data;

        * An optional indicator about the type of the items in the collection
        (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogCollection'
          example:
            stac_version: 1.0.0
            stac_extensions:
              - https://stac-extensions.github.io/eo/v1.0.0/schema.json
            type: Collection
            id: sentinel-2-l2a
            title: Sentinel 2 L2A
            description: Sentinel 2 imagery processed to level 2A
            license: proprietary
            providers:
              - name: ESA
                roles:
                  - producer
                url: https://esa.int/
              - name: AWS
                roles:
                  - host
                url: https://aws.amazon.com/
              - name: Sinergise
                roles:
                  - processor
                url: https://www.sinergise.com/
            extent:
              spatial:
                bbox:
                  - - -180
                    - -56
                    - 180
                    - 83
              temporal:
                interval:
                  - - '2016-11-01T00:00:00Z'
                    - null
            summaries:
              eo:bands:
                - name: B01
                  common_name: coastal
                  center_wavelength: 0.4427
                  full_width_half_max: 0.021
                - name: B02
                  common_name: blue
                  center_wavelength: 0.4924
                  full_width_half_max: 0.066
                - name: B03
                  common_name: green
                  center_wavelength: 0.5598
                  full_width_half_max: 0.036
                - name: B04
                  common_name: red
                  center_wavelength: 0.6646
                  full_width_half_max: 0.031
                - name: B05
                  center_wavelength: 0.7041
                  full_width_half_max: 0.015
                - name: B06
                  center_wavelength: 0.7405
                  full_width_half_max: 0.015
                - name: B07
                  center_wavelength: 0.7828
                  full_width_half_max: 0.02
                - name: B08
                  common_name: nir
                  center_wavelength: 0.8328
                  full_width_half_max: 0.106
                - name: B8A
                  common_name: nir08
                  center_wavelength: 0.8647
                  full_width_half_max: 0.021
                - name: B09
                  common_name: nir09
                  center_wavelength: 0.9451
                  full_width_half_max: 0.02
                - name: B11
                  common_name: swir16
                  center_wavelength: 1.6137
                  full_width_half_max: 0.091
                - name: B12
                  common_name: swir22
                  center_wavelength: 2.2024
                  full_width_half_max: 0.175
            links:
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a
                rel: self
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items
                rel: items
    CatalogCollectionQueryables:
      description: A JSON Schema defining the Queryables allowed in CQL2 expressions
      content:
        application/schema+json:
          schema:
            type: object
          example:
            $schema: https://json-schema.org/draft/2019-09/schema
            $id: >-
              https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/queryables/
            type: object
            title: Queryables for Catalog STAC API
            description: Queryable names for the Catalog STAC API Item Search filter.
            properties:
              eo:cloud_cover:
                description: Cloud Cover
                type: number
                minimum: 0
                maximum: 100
            additionalProperties: false
    CatalogCollectionsNotFound:
      description: The requested URI was not found.
    CatalogCollectionsServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogFeaturesFeatures:
      description: >-
        The response is a document consisting of features in the collection.

        The features included in the response are determined by the server

        based on the query parameters of the request. To support access to

        larger collections without overloading the client, the API supports

        paged access with links to the next page, if more features are selected

        that the page size.


        The `bbox` and `datetime` parameter can be used to select only a

        subset of the features in the collection (the features that are in the

        bounding box or time interval). The `bbox` parameter matches all
        features

        in the collection that are not associated with a location, too. The

        `datetime` parameter matches all features in the collection that are

        not associated with a time stamp or interval, too.


        The `limit` parameter may be used to control the subset of the

        selected features that should be returned in the response, the page
        size.

        Each page may include information about the number of selected and

        returned features (`numberMatched` and `numberReturned`) as well as

        links to support paging (link relation `next`).
      content:
        application/geo+json:
          schema:
            $ref: '#/components/schemas/CatalogFeaturesFeatureCollectionGeoJSON'
          example:
            type: FeatureCollection
            features:
              - stac_version: 1.0.0
                stac_extensions:
                  - https://stac-extensions.github.io/eo/v1.0.0/schema.json
                  - >-
                    https://stac-extensions.github.io/projection/v1.0.0/schema.json
                id: S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
                type: Feature
                geometry:
                  type: MultiPolygon
                  crs:
                    type: name
                    properties:
                      name: urn:ogc:def:crs:OGC::CRS84
                  coordinates:
                    - - - - 12.456873618680804
                          - 45.12550485074961
                        - - 12.499663722139168
                          - 44.138006014975964
                        - - 13.153277241744092
                          - 44.15044712021016
                        - - 13.558241653952589
                          - 45.144727105915536
                        - - 12.456873618680804
                          - 45.12550485074961
                bbox:
                  - 12.456873618680804
                  - 44.138006014975964
                  - 13.558241653952589
                  - 45.144727105915536
                properties:
                  datetime: '2020-12-29T10:18:19Z'
                  platform: sentinel-2b
                  instruments:
                    - msi
                  constellation: sentinel-2
                  gsd: 10
                  eo:cloud_cover: 93.93
                  proj:epsg: 32633
                  proj:bbox:
                    - 300000
                    - 4890240
                    - 409800
                    - 5000040
                  proj:geometry:
                    type: MultiPolygon
                    crs:
                      type: name
                      properties:
                        name: urn:ogc:def:crs:EPSG::32633
                    coordinates:
                      - - - - 300000.99988415383
                            - 5000039.000148304
                          - - 300000.99989785976
                            - 4890241.000124758
                          - - 352314.4884079728
                            - 4890241.000125499
                          - - 386653.8629171661
                            - 5000039.000149397
                          - - 300000.99988415383
                            - 5000039.000148304
                assets:
                  data:
                    href: s3://sentinel-s2-l2a/tiles/33/T/UK/2020/12/29/0/
                    title: s3
                    type: inode/directory
                links:
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items/S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
                    rel: self
                    type: application/json
                  - href: >-
                      https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a
                    rel: parent
                  - href: >-
                      https://scihub.copernicus.eu/dhus/odata/v1/Products('1da14794-939f-4ede-b490-cd3a2348b495')/$value
                    rel: derived_from
                    title: scihub download
            links:
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items?bbox=13%2C45%2C14%2C46&limit=1&datetime=2020-12-10T00%3A00%3A00Z%2F2020-12-30T00%3A00%3A00Z
                rel: self
                type: application/json
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items?limit=1&next=1&datetime=2020-12-10T00%3A00%3A00Z%2F2020-12-30T00%3A00%3A00Z&bbox=13%2C45%2C14%2C46
                rel: next
                type: application/json
                title: Next set of results
            timeStamp: '2022-09-21T13:04:07.530832Z'
            numberReturned: 1
    CatalogFeaturesFeature:
      description: |-
        fetch the feature with id `featureId` in the feature collection
        with id `collectionId`
      content:
        application/geo+json:
          schema:
            $ref: '#/components/schemas/CatalogItem'
          example:
            stac_version: 1.0.0
            stac_extensions:
              - https://stac-extensions.github.io/eo/v1.0.0/schema.json
              - https://stac-extensions.github.io/projection/v1.0.0/schema.json
            id: S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
            type: Feature
            geometry:
              type: MultiPolygon
              crs:
                type: name
                properties:
                  name: urn:ogc:def:crs:OGC::CRS84
              coordinates:
                - - - - 12.456873618680804
                      - 45.12550485074961
                    - - 12.499663722139168
                      - 44.138006014975964
                    - - 13.153277241744092
                      - 44.15044712021016
                    - - 13.558241653952589
                      - 45.144727105915536
                    - - 12.456873618680804
                      - 45.12550485074961
            bbox:
              - 12.456873618680804
              - 44.138006014975964
              - 13.558241653952589
              - 45.144727105915536
            properties:
              datetime: '2020-12-29T10:18:19Z'
              platform: sentinel-2b
              instruments:
                - msi
              constellation: sentinel-2
              gsd: 10
              eo:cloud_cover: 93.93
              proj:epsg: 32633
              proj:bbox:
                - 300000
                - 4890240
                - 409800
                - 5000040
              proj:geometry:
                type: MultiPolygon
                crs:
                  type: name
                  properties:
                    name: urn:ogc:def:crs:EPSG::32633
                coordinates:
                  - - - - 300000.99988415383
                        - 5000039.000148304
                      - - 300000.99989785976
                        - 4890241.000124758
                      - - 352314.4884079728
                        - 4890241.000125499
                      - - 386653.8629171661
                        - 5000039.000149397
                      - - 300000.99988415383
                        - 5000039.000148304
            assets:
              data:
                href: s3://sentinel-s2-l2a/tiles/33/T/UK/2020/12/29/0/
                title: s3
                type: inode/directory
            links:
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a/items/S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
                rel: self
                type: application/json
              - href: >-
                  https://sh.dataspace.copernicus.eu/api/v1/catalog/1.0.0/collections/sentinel-2-l2a
                rel: parent
              - href: >-
                  https://scihub.copernicus.eu/dhus/odata/v1/Products('1da14794-939f-4ede-b490-cd3a2348b495')/$value
                rel: derived_from
                title: scihub download
    CatalogFeaturesInvalidParameter:
      description: A query parameter has an invalid value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogFeaturesNotFound:
      description: The requested URI was not found.
    CatalogFeaturesServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
  schemas:
    Boom:
      type: object
      properties:
        status:
          description: HTTP status code
          type: integer
          format: int32
        reason:
          description: Reason for the error
          type: string
        message:
          description: Friendly error message
          type: string
        code:
          description: Code that uniquely identifies the error
          type: string
          enum:
            - COMMON_BAD_PAYLOAD
            - COMMON_NOT_FOUND
            - COMMON_DATABASE_ERROR
            - COMMON_UNIQUE_KEY_VIOLATION
            - COMMON_INSUFFICIENT_PERMISSIONS
            - COMMON_SENTINEL_ACCOUNT_EXPIRED
            - COMMON_METHOD_NOT_ALLOWED
            - COMMON_UNSUPPORTED_MEDIA_TYPE
            - COMMON_ELASTICSEARCH_ERROR
            - COMMON_UNAUTHORIZED
            - COMMON_EXCEPTION
            - RATE_LIMIT_STORAGE_TIMEOUT
            - RATE_LIMIT_OVERLAPPING_POLICIES
            - RATE_LIMIT_EXCEEDED
            - RATE_LIMIT_TOKEN_COUNT_EXCEEDS_CAPACITY
            - DASHBOARD_PAYPAL_SALE_ERROR
            - DASHBOARD_PAYPAL_SUBSCRIPTION_ERROR
            - DASHBOARD_INVALID_PAYPAL_RESPONSE
            - DASHBOARD_EXECUTE_SALE_ERROR
            - DASHBOARD_EXECUTE_AGREEMENT_ERROR
            - DASHBOARD_IPN_ERROR
            - DASHBOARD_ADYEN_SALE_ERROR
            - DASHBOARD_ADYEN_PAYMENT_CANCELLED
            - RENDERER_EXCEPTION
            - OAUTH_ERROR
            - EMAIL_OCTOPUS_ERROR
        errors:
          description: Additional information about the error (Optional)
          type: object
    RestErrorWrapper:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Boom'
    DatasetType:
      type: string
      enum:
        - sentinel-2-l1c
        - sentinel-2-l2a
        - landsat-8-l1c
        - landsat-ot-l1
        - landsat-ot-l2
        - landsat-tm-l1
        - landsat-tm-l2
        - dem
        - modis
        - sentinel-1-grd
        - s2gm
        - sentinel-3-olci
        - sentinel-3-slstr
        - sentinel-5p-l2
        - custom
    Interpolator:
      type: string
      enum:
        - BILINEAR
        - BICUBIC
        - LANCZOS
        - BOX
        - NEAREST
    DateTimeInterval:
      type: object
      properties:
        from:
          type: string
          description: >-
            ISO-8601 time representing start of search interval, e.g.
            2019-01-31T14:00:00+01:00
          format: date-time
        to:
          type: string
          description: >-
            ISO-8601 time representing end of search interval, e.g.
            2019-02-05T15:00:00+01:00.
          format: date-time
    Geometry:
      description: >-
        The request area of interest geometry. This and/or BBOX must be
        specified. Coordinates need to be in easting,northing or
        longitude,latitude, in that order in the CRS defined in the
        "bounds.properties.crs" parameter. A GeoJsonObject.
      type: object
      oneOf:
        - $ref: '#/components/schemas/Polygon'
        - $ref: '#/components/schemas/MultiPolygon'
      example:
        type: Polygon
        coordinates:
          - - - 14.000701904296873
              - 46.23685258143992
            - - 13.822174072265625
              - 46.09037664604301
            - - 14.113311767578125
              - 45.85080395917834
            - - 14.55963134765625
              - 46.038922598236
            - - 14.441528320312498
              - 46.28717293114449
            - - 14.17236328125
              - 46.29191774991382
            - - 14.000701904296873
              - 46.23685258143992
    Polygon:
      type: object
      properties:
        type:
          type: string
          enum:
            - Polygon
        coordinates:
          type: array
          items:
            type: array
            items:
              maxItems: 2
              minItems: 2
              type: array
              items:
                type: number
                format: double
    MultiPolygon:
      type: object
      properties:
        type:
          type: string
          enum:
            - MultiPolygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                maxItems: 2
                minItems: 2
                type: array
                items:
                  type: number
                  format: double
    View:
      description: Links to paginate the resource
      type: object
      properties:
        currentToken:
          type: string
        nextToken:
          type: string
        previousToken:
          type: string
        '@id':
          type: string
          format: uri
        next:
          type: string
          format: uri
        previous:
          type: string
          format: uri
    ResourceReference:
      type: object
      properties:
        '@id':
          description: Resource URL reference
          type: string
    BaseDataset:
      type: object
      properties:
        type:
          description: Datasource abbreviation
          type: string
        id:
          description: Identifier
          type: string
    S2L1CDataset:
      title: sentinel-2-l1c
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S2L1CFiltering'
            processing:
              $ref: '#/components/schemas/S2Processing'
            type:
              type: string
              enum:
                - sentinel-2-l1c
    S2L2ADataset:
      title: sentinel-2-l2a
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S2L2AFiltering'
            processing:
              $ref: '#/components/schemas/S2Processing'
            type:
              type: string
              enum:
                - sentinel-2-l2a
    LandsatDataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/LandsatFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
    Ls8Dataset:
      title: landsat-8-l1c
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-8-l1c
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithRt'
    L8L1Dataset:
      title: landsat-ot-l1
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-ot-l1
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithRt'
    L8L2Dataset:
      title: landsat-ot-l2
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-ot-l2
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithoutRt'
    LTML1Dataset:
      title: landsat-tm-l1
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-tm-l1
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithoutRt'
    LTML2Dataset:
      title: landsat-tm-l2
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-tm-l2
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithoutRt'
    LETML1Dataset:
      title: landsat-etm-l1
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-etm-l1
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithRt'
    LETML2Dataset:
      title: landsat-etm-l2
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-etm-l2
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithoutRt'
    LMSSL1Dataset:
      title: landsat-mss-l1
      type: object
      allOf:
        - $ref: '#/components/schemas/LandsatDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - landsat-mss-l1
            dataFilter:
              allOf:
                - $ref: '#/components/schemas/LandsatFiltering'
                - $ref: '#/components/schemas/LandsatTierFilteringWithoutRt'
    ModisDataset:
      title: modis
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/ModisFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - modis
    DEMDataset:
      title: dem
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/DEMFiltering'
            processing:
              $ref: '#/components/schemas/DEMProcessing'
            type:
              type: string
              enum:
                - dem
    S1Dataset:
      title: sentinel-1-grd
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S1Filtering'
            processing:
              $ref: '#/components/schemas/S1Processing'
            type:
              type: string
              enum:
                - sentinel-1-grd
    S3Dataset:
      title: sentinel-3-olci
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S3OlciFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - sentinel-3-olci
    S3SlstrDataset:
      title: sentinel-3-slstr
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S3SlstrFiltering'
            processing:
              $ref: '#/components/schemas/S3SlstrProcessing'
            type:
              type: string
              enum:
                - sentinel-3-slstr
    S5PDataset:
      title: sentinel-5p-l2
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S5PFiltering'
            processing:
              $ref: '#/components/schemas/S5PProcessing'
            type:
              type: string
              enum:
                - sentinel-5p-l2
    HLSDataset:
      title: hls
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            type:
              type: string
              enum:
                - hls
            dataFilter:
              $ref: '#/components/schemas/HLSFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
    BYOCDataset:
      title: BYOC / BATCH / ZARR
      type: object
      allOf:
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/BYOCFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              description: >
                For a BYOC collection, set to "byoc-\<collectionId\>", for
                example "byoc-017aa0ae-33a6-45d3-8548-0f7d1041b40c".


                For a BATCH collection, set to "batch-\<collectionId\>", for
                example "batch-9688cd56-6c70-4221-add8-a5821d0256a9".


                For a ZARR collection, set to "zarr-\<collectionId\>", for
                example "zarr-e2c7baec-3dfa-4523-b125-e242bdb5dd7c".
        - $ref: '#/components/schemas/BaseDataset'
    S2L2AFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
    S2L1CFiltering:
      allOf:
        - $ref: '#/components/schemas/S2L2AFiltering'
        - type: object
          properties:
            previewMode:
              type: string
              description: >
                The preview mode
              enum:
                - DETAIL
                - TILE_PREVIEW
                - PREVIEW
                - EXTENDED_PREVIEW
              default: DETAIL
    LandsatFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
    LandsatTierFilteringWithRt:
      type: object
      properties:
        tiers:
          type: string
          default: ALL_TIERS
          enum:
            - TIER_1
            - TIER_1_AND_RT
            - ALL_TIERS
    LandsatTierFilteringWithoutRt:
      type: object
      properties:
        tiers:
          type: string
          default: ALL_TIERS
          enum:
            - TIER_1
            - ALL_TIERS
    HLSFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
        constellation:
          type: string
          description: >
            The selected constellation. "SENTINEL" selects only Sentinel
            products, while "LANDSAT" selects only Landsat products.


            By default, products of both constellations are selected.
          enum:
            - SENTINEL
            - LANDSAT
    ModisFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    S1Filtering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
        resolution:
          type: string
          enum:
            - HIGH
            - MEDIUM
            - FULL
        acquisitionMode:
          type: string
          enum:
            - SM
            - IW
            - EW
            - WV
            - EN
            - AN
            - IM
        polarization:
          type: string
          enum:
            - SH
            - SV
            - DH
            - DV
            - HH
            - HV
            - VV
            - VH
        orbitDirection:
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        timeliness:
          type: string
          enum:
            - NRT10m
            - NRT1h
            - NRT3h
            - Fast24h
            - Offline
            - Reprocessing
            - ArchNormal
    S3OlciFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    S3SlstrFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
        orbitDirection:
          description: Orbit direction.
          type: string
          enum:
            - ASCENDING
            - DESCENDING
    S5PFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
        timeliness:
          description: Data timeliness.
          type: string
          enum:
            - NRTI
            - OFFL
            - RPRO
    BYOCFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    DEMFiltering:
      type: object
      properties:
        demInstance:
          description: Selects DEM instance.
          type: string
          enum:
            - MAPZEN
            - COPERNICUS_30
            - COPERNICUS_90
          default: MAPZEN
    TimeRange:
      type: object
      description: >-
        A time interval to filter data by acquisition date. It is defined by a
        start and end date and time, e.g. 2019-01-31T14:00:00+01:00. A date
        representation without time (e.g. 2019-01-31) will not work. Both the
        start and end of a time interval are inclusive and can be equal.
      properties:
        from:
          description: The start of a search interval.
          type: string
          format: date-time
        to:
          description: The end of a search interval.
          type: string
          format: date-time
      example:
        from: 2018-10-01T00:00:00.000Z
        to: 2018-11-01T00:00:00.000Z
    MaxCloudCoverage:
      description: The maximum allowable cloud coverage in percent.
      type: number
      format: double
      minimum: 0
      maximum: 100
      default: 100
    BaseDatasetProcessing:
      type: object
      properties:
        upsampling:
          description: |
            The interpolation used when the requested
            resolution is higher than the source resolution.
          type: string
          enum:
            - NEAREST
            - BILINEAR
            - BICUBIC
          default: NEAREST
        downsampling:
          description: |
            The interpolation used when the requested
            resolution is lower than the source resolution.
          type: string
          enum:
            - NEAREST
            - BILINEAR
            - BICUBIC
          default: NEAREST
    S2Processing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            harmonizeValues:
              description: >
                Harmonizes data values to be comparable with old processing
                baselines.
              type: boolean
              default: true
    DEMProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            clampNegative:
              type: boolean
              default: false
              description: >-
                Mapzen DEM specific option. It replaces negative orthometric
                heights with 0. Useful for removing ocean bathymetry, for
                example.
            egm:
              type: boolean
              default: false
              description: >-
                It replaces orthometric heights with ellipsoidal heights
                relative to the WGS84 ellipsoid.
    S1Processing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            speckleFilter:
              type: object
              oneOf:
                - $ref: '#/components/schemas/S1ProcessingSpeckleFilterLEE'
                - $ref: '#/components/schemas/S1ProcessingSpeckleFilterNONE'
              discriminator:
                propertyName: type
                mapping:
                  LEE: '#/components/schemas/S1ProcessingSpeckleFilterLEE'
                  NONE: '#/components/schemas/S1ProcessingSpeckleFilterNONE'
            backCoeff:
              type: string
              enum:
                - BETA0
                - SIGMA0_ELLIPSOID
                - GAMMA0_ELLIPSOID
                - GAMMA0_TERRAIN
              default: GAMMA0_ELLIPSOID
            orthorectify:
              type: boolean
              default: false
            demInstance:
              type: string
              enum:
                - MAPZEN
                - COPERNICUS
                - COPERNICUS_30
                - COPERNICUS_90
              default: MAPZEN
            radiometricTerrainOversampling:
              type: number
              format: double
              minimum: 1
              maximum: 4
              default: 2
    S1ProcessingSpeckleFilterLEE:
      type: object
      description: >-
        The Lee speckle filter. Note that processing time rapidly increases as
        window size increases.
      required:
        - type
        - windowSizeX
        - windowSizeY
      properties:
        type:
          type: string
        windowSizeX:
          type: integer
          minimum: 1
          maximum: 7
          description: >-
            The window size in the X direction of the source data. Odd values
            recommended.
        windowSizeY:
          type: integer
          minimum: 1
          maximum: 7
          description: >-
            The window size in the Y direction of the source data. Odd values
            recommended.
    S1ProcessingSpeckleFilterNONE:
      type: object
      description: >-
        Does NO speckle filtering. Equivalent to not having speckleFilter
        defined.
      required:
        - type
      properties:
        type:
          type: string
    S3SlstrProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            view:
              description: The satellite view.
              type: string
              enum:
                - NADIR
                - OBLIQUE
              default: NADIR
    S5PProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            minQa:
              description: |
                The minimum (inclusive) pixel quality to be displayed.

                For NO2, default is 75.
              type: integer
              format: int32
              minimum: 0
              maximum: 100
              default: 50
    ProcessRequest:
      type: object
      required:
        - evalscript
        - input
      properties:
        input:
          $ref: '#/components/schemas/ProcessRequestInput'
        output:
          $ref: '#/components/schemas/ProcessRequestOutput'
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://eu-cdse.github.io/documentation/APIs/SentinelHub/Evalscript/V3.html"
            target="_blank">here</a>.
          type: string
    MultiPartProcessRequest:
      type: object
      properties:
        request:
          required:
            - input
          type: object
          properties:
            input:
              $ref: '#/components/schemas/ProcessRequestInput'
            output:
              $ref: '#/components/schemas/ProcessRequestOutput'
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://eu-cdse.github.io/documentation/APIs/SentinelHub/Evalscript/V3.html"
            target="_blank">here</a>.
          type: string
    ProcessRequestInput:
      title: Input
      type: object
      required:
        - bounds
        - data
      properties:
        bounds:
          $ref: '#/components/schemas/ProcessRequestInputBounds'
        data:
          $ref: '#/components/schemas/ProcessRequestInputData'
    ProcessRequestInputData:
      description: >
        The collections you wish to request, along with certain processing and
        filtering parameters.

        To learn how to request and work with multiple collection, check the
        "Data Fusion" page in our documentation
        https://eu-cdse.github.io/documentation/APIs/SentinelHub/Process/DataFusion.html.
      type: array
      minItems: 1
      items:
        oneOf:
          - $ref: '#/components/schemas/S2L1CDataset'
          - $ref: '#/components/schemas/S2L2ADataset'
          - $ref: '#/components/schemas/Ls8Dataset'
          - $ref: '#/components/schemas/L8L1Dataset'
          - $ref: '#/components/schemas/L8L2Dataset'
          - $ref: '#/components/schemas/LETML1Dataset'
          - $ref: '#/components/schemas/LETML2Dataset'
          - $ref: '#/components/schemas/LTML1Dataset'
          - $ref: '#/components/schemas/LTML2Dataset'
          - $ref: '#/components/schemas/LMSSL1Dataset'
          - $ref: '#/components/schemas/ModisDataset'
          - $ref: '#/components/schemas/DEMDataset'
          - $ref: '#/components/schemas/S1Dataset'
          - $ref: '#/components/schemas/S3Dataset'
          - $ref: '#/components/schemas/S3SlstrDataset'
          - $ref: '#/components/schemas/S5PDataset'
          - $ref: '#/components/schemas/HLSDataset'
          - $ref: '#/components/schemas/BYOCDataset'
    ProcessRequestInputBounds:
      title: Bounds
      description: >
        Defines the request bounds by specifying the bounding box and/or

        geometry for the request. If both are specified it will generate an
        image

        for the bounding box and render data contained within the geometry.
      type: object
      properties:
        bbox:
          description: >
            The request bounding box. This and/or GEOMETRY must be specified.

            Specify with a coordinate pair on two (opposite) vertices of the
            bounding

            box rectangle. Coordinates need to be in easting,northing or
            longitude, latitude,

            in that order in the CRS defined in the "bounds.properties.crs"
            parameter.
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: number
            format: double
          example:
            - 13.822174072265625
            - 45.85080395917834
            - 14.55963134765625
            - 46.29191774991382
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/ProcessRequestInputBoundsProperties'
    ProcessRequestInputBoundsProperties:
      title: BoundsProperties
      type: object
      properties:
        crs:
          description: >
            The coordinate reference system of the coordinates. Must be

            one of the values listed at
            https://eu-cdse.github.io/documentation/APIs/SentinelHub/Process/Crs.html.

            Default CRS is WGS84, http://www.opengis.net/def/crs/OGC/1.3/CRS84.
          type: string
          default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    ProcessRequestOutput:
      type: object
      properties:
        width:
          description: >
            The request image width. Must be an integer between 1 and 2500.

            <br />*Only one pair of parameters "width"/"height" or "resx"/"resy"
            must

            be set at the same time.*
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        height:
          description: >
            The request image height. Must be an integer between 1 and 2500.

            <br />*Only one pair of parameters "width"/"height" or "resx"/"resy"
            must

            be set at the same time.*
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        resx:
          description: >
            Spatial resolution of the request image in a horizontal direction.

            Its units are defined by the CRS given in
            "input.bounds.properties.crs"

            parameter. <br />*Only one pair of parameters "width"/"height" or
            "resx"/"resy"

            must be set at the same time.*
          type: number
          format: double
        resy:
          description: >
            Spatial resolution of the request image in a vertical direction.

            Its units are defined by the CRS given in
            "input.bounds.properties.crs"

            parameter. <br />*Only one pair of parameters "width"/"height" or
            "resx"/"resy"

            must be set at the same time.*
          type: number
          format: double
        responses:
          type: array
          description: |
            Response object(s). <br/>
            If you request multiple responses, set the `Accept` header to
            `application/tar`, `application/x-tar` or `multipart/mixed`.
          items:
            $ref: '#/components/schemas/ProcessRequestOutputResponse'
    ProcessRequestOutputResponse:
      type: object
      properties:
        identifier:
          type: string
          description: >
            Response's identifier is used to connect the results of an
            evalscript with the output file.

            Each response identifier value must either match one of the values
            in `setup()` -> `output.id` in the evalscript (see <a
            href="https://eu-cdse.github.io/documentation/APIs/SentinelHub/Process/Examples/S2L1C.html#ndvi-image-and-value-multi-part-response-png-and-geotiff"
            target="_blank">example</a>)

            or be `userdata` (see <a
            href="https://eu-cdse.github.io/documentation/APIs/SentinelHub/Process/Examples/S2L1C.html#true-color-and-metadata-multi-part-response-geotiff-and-json"
            target="_blank">example</a>).
          enum:
            - <identifier>
            - userdata
        format:
          description: Format object (default is `image/png`).
          type: object
          oneOf:
            - $ref: '#/components/schemas/ProcessRequestOutputFormatPng'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatJpeg'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatTiff'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatJson'
    ProcessRequestOutputFormat:
      type: object
      properties:
        type:
          type: string
          description: Output format mime-type
    ProcessRequestOutputFormatJpeg:
      title: image/jpeg
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            quality:
              description: Quality level of JPEG compression.
              type: integer
              format: int32
              minimum: 0
              maximum: 100
              default: 90
            type:
              type: string
              enum:
                - image/jpeg
    ProcessRequestOutputFormatPng:
      title: image/png
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - image/png
    ProcessRequestOutputFormatTiff:
      title: image/tiff
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - image/tiff
    ProcessRequestOutputFormatJson:
      title: application/json
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - application/json
    ProcessRequestOutputFormatZarr:
      title: zarr/array
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - zarr/array
    CatalogException:
      title: exception
      type: object
      description: >-
        Information about the exception: an error code plus an optional
        description.
      required:
        - code
      properties:
        code:
          type: string
        description:
          type: string
    CatalogConformanceClasses:
      title: conformanceClasses
      type: object
      required:
        - conformsTo
      properties:
        conformsTo:
          description: >-
            A list of all conformance classes implemented by the server. In
            addition to the STAC-specific conformance classes, all OGC-related
            conformance classes listed at `GET /conformances` must be listed
            here. This entry should mirror what `GET /conformances` returns, if
            implemented.
          type: array
          items:
            type: string
    CatalogCatalog:
      title: catalog
      type: object
      required:
        - stac_version
        - type
        - id
        - description
        - links
      properties:
        stac_version:
          $ref: '#/components/schemas/CatalogStacVersion'
        stac_extensions:
          $ref: '#/components/schemas/CatalogStacExtensions'
        type:
          type: string
        id:
          type: string
        title:
          type: string
        description:
          type: string
        links:
          $ref: '#/components/schemas/CatalogLinks'
    CatalogCollection:
      title: collection
      type: object
      required:
        - stac_version
        - type
        - id
        - description
        - license
        - extent
        - links
      properties:
        stac_version:
          $ref: '#/components/schemas/CatalogStacVersion'
        stac_extensions:
          $ref: '#/components/schemas/CatalogStacExtensions'
        type:
          type: string
        id:
          description: identifier of the collection used, for example, in URIs
          type: string
        title:
          description: human readable title of the collection
          type: string
        description:
          type: string
          description: >-
            Detailed multi-line description to fully explain the catalog or
            collection.

            [CommonMark 0.29](http://commonmark.org/) syntax MAY be used for
            rich text representation.
        keywords:
          type: array
          description: List of keywords describing the collection.
          items:
            type: string
        license:
          $ref: '#/components/schemas/CatalogLicense'
        extent:
          $ref: '#/components/schemas/CatalogExtent'
        providers:
          $ref: '#/components/schemas/CatalogProviders'
        links:
          $ref: '#/components/schemas/CatalogLinks'
        summaries:
          description: |-
            Summaries are either a unique set of all available values *or*
            statistics. Statistics by default only specify the range (minimum
            and maximum values), but can optionally be accompanied by additional
            statistical values. The range can specify the potential range of
            values, but it is recommended to be as precise as possible. The set
            of values must contain at least one element and it is strongly
            recommended to list all values. It is recommended to list as many
            properties as reasonable so that consumers get a full overview of
            the Collection. Properties that are covered by the Collection
            specification (e.g. `providers` and `license`) may not be repeated
            in the summaries.
          type: object
          additionalProperties:
            oneOf:
              - type: array
                title: Set of values
                items:
                  description: A value of any type.
              - type: object
                title: Statistics
                description: |-
                  By default, only ranges with a minimum and a maximum value can
                  be specified. Ranges can be specified for ordinal values only,
                  which means they need to have a rank order. Therefore, ranges
                  can only be specified for numbers and some special types of
                  strings. Examples: grades (A to F), dates or times.
                  Implementors are free to add other derived statistical values
                  to the object, for example `mean` or `stddev`.
                required:
                  - min
                  - max
                properties:
                  min:
                    anyOf:
                      - type: string
                      - type: number
                  max:
                    anyOf:
                      - type: string
                      - type: number
      example:
        stac_version: 1.0.0
        stac_extensions: []
        type: Collection
        id: Sentinel-2
        title: 'Sentinel-2 MSI: MultiSpectral Instrument, Level-1C'
        description: |
          Sentinel-2 is a wide-swath, high-resolution, multi-spectral
          imaging mission...
        license: proprietary
        keywords:
          - copernicus
          - esa
          - eu
          - msi
          - radiance
          - sentinel
        providers:
          - name: ESA
            roles:
              - producer
              - licensor
            url: https://sentinel.esa.int/web/sentinel/user-guides/sentinel-2-msi
        extent:
          spatial:
            bbox:
              - - -180
                - -56
                - 180
                - 83
          temporal:
            interval:
              - - '2015-06-23T00:00:00Z'
                - '2019-07-10T13:44:56Z'
        summaries:
          datetime:
            min: '2015-06-23T00:00:00Z'
            max: '2019-07-10T13:44:56Z'
          sci:citation:
            - Copernicus Sentinel data [Year]
          eo:gsd:
            - 10
            - 30
            - 60
          platform:
            - sentinel-2a
            - sentinel-2b
          constellation:
            - sentinel-2
          instruments:
            - msi
          view:off_nadir:
            min: 0
            max: 100
          view:sun_elevation:
            min: 6.78
            max: 89.9
          eo:bands:
            - - name: B1
                common_name: coastal
                center_wavelength: 4.439
              - name: B2
                common_name: blue
                center_wavelength: 4.966
              - name: B3
                common_name: green
                center_wavelength: 5.6
              - name: B4
                common_name: red
                center_wavelength: 6.645
              - name: B5
                center_wavelength: 7.039
              - name: B6
                center_wavelength: 7.402
              - name: B7
                center_wavelength: 7.825
              - name: B8
                common_name: nir
                center_wavelength: 8.351
              - name: B8A
                center_wavelength: 8.648
              - name: B9
                center_wavelength: 9.45
              - name: B10
                center_wavelength: 1.3735
              - name: B11
                common_name: swir16
                center_wavelength: 1.6137
              - name: B12
                common_name: swir22
                center_wavelength: 2.2024
        links:
          - rel: self
            href: http://cool-sat.com/collections/Sentinel-2
          - rel: root
            href: http://cool-sat.com/collections
          - rel: license
            href: >-
              https://scihub.copernicus.eu/twiki/pub/SciHubWebPortal/TermsConditions/Sentinel_Data_Terms_and_Conditions.pdf
            title: >-
              Legal notice on the use of Copernicus Sentinel Data and Service
              Information
    CatalogExtent:
      title: extent
      type: object
      description: >-
        The extent of the features in the collection. In the Core only spatial
        and temporal

        extents are specified. Extensions may add additional members to
        represent other

        extents, for example, thermal or pressure ranges.


        The first item in the array describes the overall extent of

        the data. All subsequent items describe more precise extents, 

        e.g., to identify clusters of data.

        Clients only interested in the overall extent will only need to

        access the first item in each array.
      required:
        - spatial
        - temporal
      properties:
        spatial:
          description: The spatial extent of the features in the collection.
          type: object
          required:
            - bbox
          properties:
            bbox:
              description: >-
                One or more bounding boxes that describe the spatial extent of
                the dataset.


                The first bounding box describes the overall spatial

                extent of the data. All subsequent bounding boxes describe 

                more precise bounding boxes, e.g., to identify clusters of data.

                Clients only interested in the overall spatial extent will

                only need to access the first item in each array.
              type: array
              minItems: 1
              items:
                description: >-
                  Each bounding box is provided as four or six numbers,
                  depending on

                  whether the coordinate reference system includes a vertical
                  axis

                  (height or depth):


                  * Lower left corner, coordinate axis 1

                  * Lower left corner, coordinate axis 2

                  * Minimum value, coordinate axis 3 (optional)

                  * Upper right corner, coordinate axis 1

                  * Upper right corner, coordinate axis 2

                  * Maximum value, coordinate axis 3 (optional)


                  The coordinate reference system of the values is WGS 84
                  longitude/latitude

                  (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


                  For WGS 84 longitude/latitude the values are in most cases the
                  sequence of

                  minimum longitude, minimum latitude, maximum longitude and
                  maximum latitude.

                  However, in cases where the box spans the antimeridian the
                  first value

                  (west-most box edge) is larger than the third value (east-most
                  box edge).


                  If the vertical axis is included, the third and the sixth
                  number are

                  the bottom and the top of the 3-dimensional bounding box.


                  If a feature has multiple spatial geometry properties, it is
                  the decision of the

                  server whether only a single spatial geometry property is used
                  to determine

                  the extent or all relevant geometries.
                type: array
                minItems: 4
                maxItems: 6
                items:
                  type: number
                example:
                  - -180
                  - -90
                  - 180
                  - 90
            crs:
              description: >-
                Coordinate reference system of the coordinates in the spatial
                extent

                (property `bbox`). The default reference system is WGS 84
                longitude/latitude.

                In the Core this is the only supported coordinate reference
                system.

                Extensions may support additional coordinate reference systems
                and add

                additional enum values.
              type: string
              enum:
                - http://www.opengis.net/def/crs/OGC/1.3/CRS84
              default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        temporal:
          description: The temporal extent of the features in the collection.
          type: object
          required:
            - interval
          properties:
            interval:
              description: >-
                One or more time intervals that describe the temporal extent of
                the dataset.


                The first time interval describes the overall

                temporal extent of the data. All subsequent time intervals
                describe 

                more precise time intervals, e.g., to identify clusters of data.

                Clients only interested in the overall extent will only need

                to access the first item in each array.
              type: array
              minItems: 1
              items:
                description: >-
                  Begin and end times of the time interval. The timestamps

                  are in the coordinate reference system specified in `trs`. By
                  default

                  this is the Gregorian calendar.


                  The value `null` is supported and indicates an open time
                  interval.
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: string
                  format: date-time
                  nullable: true
                example:
                  - '2011-11-11T12:22:11Z'
                  - null
            trs:
              description: >-
                Coordinate reference system of the coordinates in the temporal
                extent

                (property `interval`). The default reference system is the
                Gregorian calendar.

                In the Core this is the only supported temporal reference
                system.

                Extensions may support additional temporal reference systems and
                add

                additional enum values.
              type: string
              enum:
                - http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
              default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
    CatalogLinks:
      title: links
      type: array
      items:
        $ref: '#/components/schemas/CatalogLink'
    CatalogLink:
      title: Link
      type: object
      required:
        - href
        - rel
      properties:
        href:
          type: string
          format: uri
          description: The location of the resource
        rel:
          type: string
          description: Relation type of the link
        type:
          type: string
          description: The media type of the resource
        title:
          type: string
          description: Title of the resource
        method:
          type: string
          enum:
            - GET
            - POST
          default: GET
          description: Specifies the HTTP method that the resource expects
        headers:
          type: object
          description: Object key values pairs they map to headers
          example:
            Accept: application/json
        body:
          type: object
          description: >-
            For POST requests, the resource can specify the HTTP body as a JSON
            object.
        merge:
          type: boolean
          default: false
          description: |-
            This is only valid when the server is responding to POST request.

            If merge is true, the client is expected to merge the body value
            into the current request body before following the link.
            This avoids passing large post bodies back and forth when following
            links, particularly for navigating pages through the `POST /search`
            endpoint.

            NOTE: To support form encoding it is expected that a client be able
            to merge in the key value pairs specified as JSON
            `{"next": "token"}` will become `&next=token`.
    CatalogLicense:
      title: license
      type: string
      description: |-
        License(s) of the data as a SPDX
        [License identifier](https://spdx.org/licenses/). Alternatively, use
        `proprietary` if the license is not on the SPDX license list or
        `various` if multiple licenses apply. In these two cases links to the
        license texts SHOULD be added, see the `license` link relation type.

        Non-SPDX licenses SHOULD add a link to the license text with the
        `license` relation in the links section. The license text MUST NOT be
        provided as a value of this field. If there is no public license URL
        available, it is RECOMMENDED to host the license text and
        link to it.
      example: Apache-2.0
    CatalogProviders:
      title: providers
      type: array
      description: >-
        A list of providers, which may include all organizations capturing or
        processing the data or the hosting provider. Providers should be listed
        in chronological order with the most recent provider being the last
        element of the list.
      items:
        type: object
        title: Provider
        required:
          - name
        properties:
          name:
            description: The name of the organization or the individual.
            type: string
          description:
            description: >-
              Multi-line description to add further provider information such as
              processing details for processors and producers, hosting details
              for hosts or basic contact information.


              [CommonMark 0.29](http://commonmark.org/) syntax MAY be used for
              rich text representation.
            type: string
          roles:
            description: |-
              Roles of the provider.

              The provider's role(s) can be one or more of the following
              elements:

              * licensor: The organization that is licensing the dataset under
                the license specified in the collection's license field.
              * producer: The producer of the data is the provider that
                initially captured and processed the source data, e.g. ESA for
                Sentinel-2 data.
              * processor: A processor is any provider who processed data to a
                derived product.
              * host: The host is the actual provider offering the data on their
                storage. There should be no more than one host, specified as last
                element of the list.
            type: array
            items:
              type: string
              enum:
                - producer
                - licensor
                - processor
                - host
          url:
            description: >-
              Homepage on which the provider describes the dataset and publishes
              contact information.
            type: string
            format: url
    CatalogBbox:
      title: bbox
      description: |-
        Only features that have a geometry that intersects the bounding box are
        selected. The bounding box is provided as four or six numbers,
        depending on whether the coordinate reference system includes a
        vertical axis (elevation or depth):

        * Lower left corner, coordinate axis 1
        * Lower left corner, coordinate axis 2  
        * Lower left corner, coordinate axis 3 (optional) 
        * Upper right corner, coordinate axis 1 
        * Upper right corner, coordinate axis 2 
        * Upper right corner, coordinate axis 3 (optional)

        The coordinate reference system of the values is WGS84
        longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).

        For WGS84 longitude/latitude the values are in most cases the sequence
        of minimum longitude, minimum latitude, maximum longitude and maximum
        latitude. However, in cases where the box spans the antimeridian the
        first value (west-most box edge) is larger than the third value
        (east-most box edge).

        If a feature has multiple spatial geometry properties, it is the
        decision of the server whether only a single spatial geometry property
        is used to determine the extent or all relevant geometries.

        Example: The bounding box of the New Zealand Exclusive Economic Zone in
        WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be
        represented in JSON as `[160.6, -55.95, -170, -25.89]` and in a query as
        `bbox=160.6,-55.95,-170,-25.89`.
      type: array
      minItems: 4
      maxItems: 6
      items:
        type: number
      example:
        - -110
        - 39.5
        - -105
        - 40.5
    CatalogDatetime:
      title: datetime
      type: string
      format: date-time
      nullable: true
      description: >-
        The searchable date and time of the assets, in UTC.

        It is formatted according to [RFC 3339, section
        5.6](https://tools.ietf.org/html/rfc3339#section-5.6).

        `null` is allowed, but requires `start_datetime` and `end_datetime` from
        common metadata to be set.
      example: '2018-02-12T00:00:00Z'
    CatalogStacVersion:
      title: STAC version
      type: string
      example: 1.0.0
    CatalogStacExtensions:
      title: STAC extensions
      type: array
      uniqueItems: true
      items:
        anyOf:
          - title: Reference to a JSON Schema
            type: string
            format: uri
          - title: Reference to a core extension
            type: string
    CatalogItem:
      title: item
      description: >-
        A GeoJSON Feature augmented with foreign members that contain values
        relevant to a STAC entity
      type: object
      required:
        - stac_version
        - id
        - type
        - geometry
        - bbox
        - links
        - properties
        - assets
      properties:
        stac_version:
          $ref: '#/components/schemas/CatalogStacVersion'
        stac_extensions:
          $ref: '#/components/schemas/CatalogStacExtensions'
        id:
          $ref: '#/components/schemas/CatalogItemId'
        bbox:
          $ref: '#/components/schemas/CatalogBbox'
        geometry:
          $ref: '#/components/schemas/CatalogGeometryGeoJSON'
        type:
          $ref: '#/components/schemas/CatalogItemType'
        links:
          $ref: '#/components/schemas/CatalogLinks'
        properties:
          $ref: '#/components/schemas/CatalogProperties'
        assets:
          $ref: '#/components/schemas/CatalogAssets'
      example:
        stac_version: 1.0.0
        stac_extensions:
          - https://stac-extensions.github.io/eo/v1.0.0/schema.json
          - https://stac-extensions.github.io/view/v1.0.0/schema.json
          - https://example.com/cs-extension/1.0/schema.json
        type: Feature
        id: CS3-20160503_132131_05
        bbox:
          - -122.59750209
          - 37.48803556
          - -122.2880486
          - 37.613537207
        geometry:
          type: Polygon
          coordinates:
            - - - -122.308150179
                - 37.488035566
              - - -122.597502109
                - 37.538869539
              - - -122.576687533
                - 37.613537207
              - - -122.2880486
                - 37.562818007
              - - -122.308150179
                - 37.488035566
        properties:
          datetime: '2016-05-03T13:22:30.040Z'
          title: A CS3 item
          license: PDDL-1.0
[...]
