name: Publish to staging portal
on:
  push:
    branches: staging
concurrency: staging-publish
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
         submodules: recursive            
      - name: Set Git config
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
      - name: Create git subtree
        run: git subtree add --prefix _build origin docportal-staging
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          # To install LaTeX to build PDF book 
          tinytex: true 
          # uncomment below and fill to pin a version
          version: '1.3.450'
      
      # add software dependencies here
      - name: Install Python and Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install jupyter
      - run: pip install -r requirements.txt
      - name: Render
        run: quarto render --output-dir _build
      - name: Commit
        run: git add _build && git commit -m "build - staging deploy" && git subtree push --prefix _build origin docportal-staging

      

